#jogo{
    width:610px;
    height:610px;
    border:solid 5px;
    margin: auto;
}
 
.linha{
    height:200px;
    border-bottom:solid 2px;
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 2px;
    float:left;
}
#bg{
	background-image: url(3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}